<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myuser.css}"/>
</head>
<body>
<table cellspacing="0">
    <tr>
        <td th:width="200">编号</td>
        <td th:width="300">用户名</td>
        <td th:width="300">电话</td>
        <td th:width="300">邮箱</td>
        <td th:width="300">登入时间</td>
    </tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>
</body>
</html>